.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
  height: 100vh;
}

.text-center {
  text-align: center;
}

.col-full,
.col-one-half,
.col-one-third,
.col-one-fourth {
  width: 100%;
}

.padding-page {
  padding: 0;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .col-one-half {
    width: 50%;
  }

  .padding-page {
    padding-top: 2%;
    padding-left: 200px;
    padding-right: 200px;
  }

  .col-one-third {
    width: calc(100% / 3);
  }

  .col-one-fourth {
    width: 25%;
  }
}
